# Keep empty directories containing .keep files
!.keep

# Editor directories
.idea
.vscode

# Build output directories
bin/*
dist/*/camera-tester/usr/bin/cameratest
dist/*/camera-tester/usr/local/lib/libopencv*
